<script language=javascript>

	var allowEdit = false;
	
	if('{!ISPICKVAL($User.PSA_Role__c, 'PSA Lead')}' == 'true')
		allowEdit = true;
	else if('{!ISPICKVAL($User.PSA_Role__c, 'Project Manager')}' == 'true')
			if('{!ProjectObject__c.Project_ManagerId__c}' == '{!$User.Id}')
				allowEdit = true;
	else
		allowEdit = false;
	
	if(allowEdit)
		url = '{!URLFOR( $Action.Project_Invoice__c.Edit , Project_Invoice__c.Id , [cancelURL=$Request.retURL, retURL=$Request.retURL], true)}';
	else
	{
		alert("Sorry! You do not have permission to edit this Invoice");
		url = '{!URLFOR( $Action.Project_Invoice__c.View , Project_Invoice__c.Id, null, true)}';
	}
	
	window.parent.location.replace(url);

</script>