.table-container {
    max-width: 95vw;
    overflow-x: scroll;
    overflow: visible !important;
    
    /* datepicker fix */
    /* position: relative;
    transform: translate(0, 0);
    transition: transform var(--lwc-durationQuickly,0.1s) linear,opacity var(--lwc-durationQuickly,0.1s) linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 var(--lwc-varSpacingXLarge, spacingXLarge);
    height: 100%;
    padding-bottom: var(--lwc-squareIconLargeBoundary,3rem) 0;
    border-radius: var(--lwc-borderRadiusMedium,0.25rem); */
}

.slds-truncate {
    white-space: pre-wrap;
}

.task-priority-column {
    width: 3rem;
    white-space: pre-wrap;
}

.task-owner-column {
    width: 6rem;
    white-space: pre-wrap;
}

.task-type-column {
    width: 8rem;
    white-space: pre-wrap;
}

.task-comments-column {
    max-width: 10rem;
}

.filter-panel {
    background-color: rgb(243, 243, 243);
}

.text-comment {
    min-width: 15rem;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
}

/*.cell-edit-icon {
    display: none;
}

.slds-cell-edit:hover .cell-edit-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
}

.slds-cell-edit:hover .text-comment {
    background-color: white;
}*/

.green {
    background-color: #a1f78d;
}

.yellow {
    background-color: #ffd74b;
}

.red {
    background-color: #fb8a8c;
}

.orange {
    background-color: #FFAE01;
}
.blue {
    background-color: #00BCE8;
}
.transparent {
    background-color: transparent;
}
.grey {
    background-color: #BEBEBE;
}

.slds-modal__content {
    overflow: visible;
    overflow-y: visible;
}