.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
}
.max-height{
    max-height: 30rem;
    overflow: auto;
}
.slds-modal__content{
    padding: 1rem;
    height: 22rem;
    overflow: auto;
}